<div class="characterStats backBlock">
        
        
    <div class = "line">
        
        <div class="selectBlock playerLevelBlock">
            <div class = "blockLabel"> Level</div>
            <div class = "blockValue"> 1</div>
        </div>
        
        <div class="selectBlock XPBlock">
            <div class = "blockLabel"> XP</div>
            <div class = "blockValue"> 0</div>
        </div>
        <div class="selectBlock nameBlock">
            <div class = "blockLabel"> Name</div>
            <div class = "blockValue"> Anako</div>
        </div>
    </div>
        
    <div class = "line">
        <div class="smallValueBlock">
            <div class = "smallValueLabel"> SIZE</div>
            <div class = "smallValueLabel"> Medium</div>
        </div>
        <div class="smallValueBlock">
            <div class = "smallValueLabel"> SPEED</div>
            <div class = "smallValueLabel"> 30 ft.</div>
        </div>
        <div class="smallValueBlock">
            <div class="smallValueLabel"> Prof. Bouns</div>
            <div class="smallValueLabel"> +2</div>
        </div>
        <div class="smallValueBlock">
            <div class = "smallValueLabel"> STR</div>
            <div class = "smallValueLabel"> 8</div>
        </div>
        <div class="smallValueBlock">
            <div class = "smallValueLabel"> DEX</div>
            <div class = "smallValueLabel"> 10</div></div>
        <div class="smallValueBlock">
            <div class = "smallValueLabel"> CON</div>
            <div class = "smallValueLabel"> 12</div>
        </div>
        <div class="smallValueBlock">
            <div class = "smallValueLabel"> INT</div>
            <div class = "smallValueLabel"> 14</div>
        </div>
        <div class="smallValueBlock">
            <div class = "smallValueLabel"> WIS</div>
            <div class = "smallValueLabel"> 16</div>
        </div>
        <div class="smallValueBlock">
            <div class = "smallValueLabel"> CHA</div>
            <div class = "smallValueLabel"> 18</div>
        </div>
        
    </div>
    
</div>

@code {
    
}