

<div class="levelsContainer">
    @for (int i = 1; i < 21; i++)
    {
        
        <div class="levelBackBlock backBlock">
            <h3>Level @i</h3>
            <div class="levelSelectBlock selectBlock"></div>
        </div>
        
    }
</div>



@code {

}