<div class="defenceStats backBlock">

    <div class="line" style="height: 100%">
        
        <div class="smallValueBlock">
            <div class = "smallValueLabel"> AC</div>
            <div class = "smallValueLabel"  > 15</div>
        </div>
        <div class="HPBar">
             <div class = "smallValueLabel"  >20/20</div>
        </div>
        <div class="savingThrowGroup">
            
            <div class="savingThrow">
                <DiceRoll/>
                <div class="statLabel">STR</div>
            </div>
            <div class="savingThrow">
                <DiceRoll/>
                <div class="statLabel">DEX</div>
            </div>
            <div class="savingThrow">
                <DiceRoll/>
                <div class="statLabel">CON</div>
            </div>
            <div class="savingThrow">
                <DiceRoll/>
                <div class="statLabel">INT</div>
            </div>
            <div class="savingThrow">
                <DiceRoll/>
                <div class="statLabel">WIS</div>
            </div>
            <div class="savingThrow">
                <DiceRoll/>
                <div class="statLabel">CHA</div>
            </div>

        </div>
        
    </div>


</div>




@code {
    
}