@inherits DiceRollerDisplay
<div class="diceRoller" @onclick="@(async() => await EventCallback.InvokeAsync((Modifier,DiceNum)))">
    
    
    
</div>

@code {
   [Parameter] public int Modifier { get; set; }
   [Parameter] public int DiceNum { get; set; }
   [Parameter] public EventCallback<(int,int)> EventCallback  { get; set; }
   

   private void RollDice(int modifier, int diceNum)
   {
      
   }

}