
<div  class="diceRollerZone backBlock">
    <label>@_modifier @_rolledValue</label>
    
</div>

@code {
    public int _modifier;
    private int _rolledValue;
   
    public void ShowInfo((int,int) valueTuple)
    {
        _modifier = valueTuple.Item1;
        _rolledValue = valueTuple.Item2;
    }
}