
<div class="displayedStats backBlock">
    <div class = "displayedStatsLabel">Class DC : 13</div>
    <div class = "displayedStatsLabel">Class attack bonus : +5</div>
    <div class = "displayedStatsLabel">Initiative : +1 </div>
    <div class = "displayedStatsLabel">Passive Perception: + 2 </div>

</div>

@code {
    
}