@inherits LayoutComponentBase

<PageTitle>Project DND.S</PageTitle>

<div class="page">
    <header >
                <HeadMenu/>
            </header>
    <aside class="sidebar">

        <CharacterBuild/>
    </aside>

    <main>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


