.page {
    position: relative;
    
    flex-direction: column;
    display: grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 450px 1fr;
   /* grid-template-areas:
            "header" "header"
    "build" "sheet";*/
}

main {
    flex: 1;
}



