@inherits LayoutComponentBase

<PageTitle>Project DND.S</PageTitle>

<div class="page">
    
    <header  class="topMenu">
        <HeadMenu/>
    </header>
    <aside class="sidebar">

        <CharacterBuild/>
    </aside>

    <main class="sheetAr">


        <SheetArea/>
    </main>
</div>


