
<div class="sheetContainer">
    
    <div class="characterStats backBlock" height ="100px">
        <h3>Абоба</h3>
        <div class="selectBlock">

        </div>
    </div>
    
</div>
@code {
    
}