
<div class="sheetContainer">
    
    
    <CharacterStats/>
    <DiceRollerDisplay @ref="_diceRollerDisplay"/>       
    <DefenceStats/>
    <DisplayedStats/>
    <CharacterPerks></CharacterPerks>
    <CharacterTab/>
</div>
@code {
    //[Parameter] public EventCallback<(int,int)> EventCallback  { get; set; }
    private DiceRollerDisplay _diceRollerDisplay ;

} 